<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form>
    <input name="search" type="search">
    <button type="submit">Go</button>
</form>


<ul>
    <li data-th-each="item : ${items}">
        <a data-th-href="@{/{id}(id=${item.id})}">
            [[${item.name}]]
        </a>
    </li>
</ul>

<a data-th-href="@{/0/edit}">Add</a>

</body>
</html>